<%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>


  <div class="container my-5">
        <h2 class="text-center my-5">ToDo List</h2>
    <div class="row">
    <div class ="col-12">
   <table class="table table-responsive">
      <tbody id="tasks">
      </tbody>
    </table>
      <div class="col-xs-12 d-flex justify-content-start">
      <div>
      <form id="addTask" class="form-style"> 
        <input  id="taskInput"  type="text" placeholder="Ex: Walk the Dog" required/>
        <button class="btn btn-success btn-md btn-add">Create</button>
      </form>
    </div>
</div>
    </div>
    </div>
  </div>
